# ignore all files
*
# ...except the following list:
!.gitignore
!LICENSE.md
!pyproject.toml
!README.md
!src/
!src/pyregress
!src/pyregress/gaussian_processes
!tests/
!examples/
!*.py
!*.json
!.vscode/
