[project]
name = "pyregress"
version = "0.9.5"
requires-python = ">=3.11, <3.14"
dependencies = [
    "numpy",
    "scipy",
    "numba",
]

[project.optional-dependencies]
plot = [
    "matplotlib",
]
dev = [
    "pytest",
]

[build-system]
requires = ["uv_build>=0.9.5"]
build-backend = "uv_build"
